html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #d5f7d0;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #d5f7d0;
  text-align: right;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid rgb(33, 100, 4);
     text-align: center;   

}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 1px solid #323233;
     padding: 0.8rem;
     text-align: left;
}
 th {
     font-weight: bold;
     font-style: oblique;
}
.selected {
            background-color: #024602;
            color: #FFF;
}